body{
	height: auto;
}
/*navbar style*/
nav.navbar{
	width: 100%;
	min-height: 100px;
	height: auto;
	display: block;
	padding: 1%;
	background: white;
	/*border: 1px red solid;*/
}

nav.navbar ul{
	display: block;
	width: 50%;
	float: right;
}
nav.navbar h1{
	width: 40%;
	float: left;
}

 
ul.nav-list a{
	text-decoration: none;
	color: black;
}

ul.nav-list li{
	float: left;
	padding: 3%;
	display: inline-block;
}
/*navbar style ends*/
p{
	padding: 5%;
}


/*footer style*/
footer.footer{
	display: block;
	padding: 2%;
	width: 100%;
	position: relative;
	bottom: 0;
	animation: roll 2s 1;
}
footer.footer small{
	width: 30%;
	float: left;
	display: inline-block;

}

header{
	position: relative;
	top: 0;
	animation: roll 2s 1;
}
footer.footer div.social-icons{
	width: 50%;
	float: right;
	display: inline-block;
}
ul.social-links{
	display: inline-block;
	margin: 0px;
	width: 100%;
	height: auto;
	list-style: none;
}

ul.social-links li{
	padding: 1%;
	cursor: pointer;
	float: left;
	display: inline-block;
	text-decoration: none;
}
ul.social-links a{
	text-decoration: none;
	color: black;
}

body{

	width: 100% ;
	overflow-x: hidden;
	
}

section{
	display: block;
	position: relative;
	animation: roll2 2s 1;

}
.main-article{
	background: ;
	width: 50%;
	float: left;

}
.side-article{
	width: 30%;
	float: right;

}
article{
	padding: 20px;
	margin: 1%;
	display: inline;
	position: relative;
	min-height: 40vh;
}

@keyframes roll{
	0% {  background: black; transform: translate(200%,0%); opacity: 0; }
	100% {  background: white; transform: translate(0%,0%); opacity: 1; }
}

@keyframes roll2{
	0% {  background: black; transform: translate(-200%,0%); opacity: 0; }
	100% {  background: white; transform: translate(0%,0%); opacity: 1; }
}
@keyframes roll3{
	0% {  background: white; transform: translate(0%,-100%); opacity: 0; }
	100% {  background: white; transform: translate(0%,0%); opacity: 1; }
}
article h3{
	display: inline;
	animation: roll 2s 1;
}
article h4{
	
}

/* Helper classes */
.area-test{
	border: 1px red solid;
}

.align-center{
	text-align: center;
}

hr{
	color: grey;
	background: grey;
}

/* Helper classes end */

.container{
	

	width: 100%;
	display: table;
	animation: roll3 2s 1;

}

.main{
	
}




/*footer style end*/