body{
	height: auto;
}
/*navbar style*/
nav.navbar{
	width: 100%;
	min-height: 100px;
	height: auto;
	display: block;
	padding: 1%;
	background: white;
	/*border: 1px red solid;*/
}

nav.navbar ul{
	display: block;
	width: 50%;
	float: right;
}
nav.navbar h1{
	width: 40%;
	float: left;
}

 
ul.nav-list a{
	text-decoration: none;
	color: black;
}

ul.nav-list li{
	float: left;
	padding: 3%;
	display: inline-block;
}
/*navbar style ends*/
p{
	padding: 5%;
}


/*footer style*/
footer.footer{
	display: block;
	padding: 2%;
	width: 100%;
	position: relative;
}
footer.footer small{
	width: 30%;
	float: left;
	display: inline-block;
}

footer.footer div.social-icons{
	width: 50%;
	float: right;
	display: inline-block;
}
ul.social-links{
	display: inline-block;
	margin: 0px;
	width: 100%;
	height: auto;
	list-style: none;
}

ul.social-links li{
	padding: 1%;
	cursor: pointer;
	float: left;
	display: inline-block;
	text-decoration: none;
}
ul.social-links a{
	text-decoration: none;
	color: black;
}

body{

	width: 100% ;
	overflow-x: hidden;
}


/* Helper classes */
.area-test{
	border: 1px red solid;
}

.align-center{
	text-align: center;
}

hr{
	color: grey;
	background: grey;
}

/* Helper classes end */

.container{
	

	width: 100%;
	display: table;

}

.main{
	min-height: 90vh;
}




/*footer style end*/