.main{
			background: grey;
			margin: 20%;
			margin-top: 1%;
			padding: 3%;
			border-radius: 30px;
			opacity: 0.9;
			transform: rotateY(10deg);
			perspective: 1000px;
			transform-style: preserve-3d;
			box-shadow: 4px 4px 5px 4px darkgrey;
			transition: 0.4s all ease-in-out;
		}
		.main:hover{
			opacity: 1;

			transform: rotateY(0deg);
		box-shadow: 4px 4px 5px 2px white;
	}